SECRET_KEY=docker-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,web
SITE_URL=http://127.0.0.1:8000

DB_ENGINE=django.db.backends.postgresql
DB_NAME=vk_dz_3
DB_USER=vk_user
DB_PASSWORD=vk_password
DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CACHE_DB=0
REDIS_BROKER_DB=1
REDIS_BEAT_DB=2

EMAIL_HOST=maildev
EMAIL_PORT=1025
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=noreply@vk-dz.local

CENTRIFUGO_API_URL=http://centrifugo:8000
CENTRIFUGO_WS_URL=ws://127.0.0.1:8001/connection/websocket
CENTRIFUGO_API_KEY=centrifugo-dev-api-key
CENTRIFUGO_TOKEN_SECRET=centrifugo-dev-secret-change-me
CENTRIFUGO_NAMESPACE=questions
